<!DOCTYPE html>
<html>

<head>
    <%- include("headers") %>
</head>

<body>

    <%- include("CabeceraNoIdentificado") %>

    <main id="cuerpo">
        <div class="tituloSeccion">
            <h1>Error 500</h1>
        </div>
        <div class="contenido">
            <div class="filaContenido">
                <h2>Error interno</h2>
            </div>
            <div class="filaContenido">
                <h3><%=mensaje%></h3>
            </div>
        </div>
    </main>

</body>
<footer>
    Iconos diseñados por <a href="https://www.flaticon.es/autores/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon"> www.flaticon.es</a>
</footer>
</html>