<meta charset="UTF-8">
<title>Facebluff</title>

<link rel="stylesheet" href="/css/Estilo.css">

<script src="/scripts/jQuery.js"></script>
<script src="/scripts/script.js"></script>

<link rel="shortcut icon" href="/img/icon.png" type="image/x-icon">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Yeon+Sung">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Chela+One">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dancing+Script">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Londrina+Outline">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lucida+Console">
