/******************** PAGINA WEB *******************************************************/

* {
    margin: 0;
    padding: 0;
    /*border: 1px solid red;*/
}

html {
    height: 100%;
}

body {
    background-image: url("/img/FondoPrincipal.jpg");
    background-size: cover;                      
    background-repeat: no-repeat;
    background-position: center center; 
}

a {
    color: inherit;
    text-decoration: none;
}

a:visited , a:active {
    text-decoration: none;
}


button[type="submit"] {
    text-decoration: none;
}

/******************** CABECERA *********************************************************/

/* Comun a toda la web */

#cabecera {
    top: 0px;
    width: 100%;
    position: fixed;
    height: 185px;
    background-color: rgba(255, 255, 0, 0.25);
}

#cabecera > div {
    display: flex;
    justify-content: space-evenly;
}

/* Comun a toda la web */

#titulo {
    font-size: 50px;
    text-align: center;
    font-family: "Londrina Outline";
}

/* Comun a toda la web */

#botonera {
    display: flex;
    flex-direction: row;
    align-items: center;
}
/*
#botonera > a {
    color:white;
    margin-left: 10px;
    font-family: "Chela One";
    font-size: 30px;
}

#botonera > a:hover {
    font-style: italic;
}*/

/* Todas las paginas menos: CreacionNuevoUsuario , IdentificacionUsuario */

.enlace > img {
    border-radius: 100%;
    height:35px;
    width: 35px;
}

.enlace > a{
    color:white;
    margin-left: 10px;
    font-family: "Chela One";
    font-size: 30px;
}
.enlace > a:hover {
    font-style: italic;
}


#puntuacion > img {
    border-radius: 100%;
    height: 50px;
    width: 50px;
}

#puntuacion > span {
    margin-bottom: 45%;
    margin-top: 45%;
    font-family: "Arial";
}

/********** CUERPO *********************************************************************/

/* Comun a toda la web */

#cuerpo {
    margin-top: 185px;
    font-family: "Muli";
}

#cuerpo > div {
    margin-bottom: 10px;
}

/* Comun a toda la web */

.tituloSeccion {
    font-size: 25px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

.tituloSeccion > h1 {
    font-family: "Dancing Script";
}

/* Comun a toda la web */

.contenido {
    padding: 20px;
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 2px;
    border-radius: 10%;
}

.contenido a {
    padding: 4px;
    font-size: 20px;
    text-align: center;
}

.contenido > a:hover {
    color: yellow;
}

.contenido p {
    font-size: 20px;
    margin-bottom: 8px;
}

.filaContenido {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.filaContenido_center{
    justify-content: center;
}

.filaContenido > img {
    width: 75px;
    height: 75px;
    align-self: center;
}

.filaContenido > a {
    align-self: center;    
}

.filaContenido> a:hover{
    color: yellow;

}
.filaContenido > span {
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    align-self: center;    
}

.filaContenido > input {
    margin-left: 5%;
    flex-grow: 1;
}

.columnaContenido {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.columnaContenido > span {
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    align-self: flex-start;    
}


.columnaContenido > textarea {
    font-size: 20px;
    align-self: flex-center;    
}

.columnaContenido> .boton{
    align-self: flex-end;
}

.separadorCol{
    margin-top: 15px; 
}
/* Comun a toda */

.boton {
    display: block;
    color: white;
    background-color: rgba(237, 96, 211, 0.5);
    border-color: black;
    text-align: center;
    width: 30%;
    font-size: 18px;
    border-radius: 10%;
}

.boton:hover {
    cursor: pointer;
    font-weight: bold;
}

.centrarBoton {
    margin-right: 35%;
    margin-left: 35%;
}

.small_boton{
    margin-left: 5%;
    width: 5%;
}
/* Comun a toda la web */

input[type=text] {
    font-family: "Roboto";
    font-size: 15px;
}

.btn_accept{
    background-color:rgba(38, 212, 96, 0.979);
    border-color: black;
}

.btn_decline{
    background-color:rgba(231, 115, 69, 0.979);
    border-color: black;
}
/* Paginas: Responder una pregunta para si mismo y en nombre de  un amigo */

.respuesta {
    color: white;
    background-color: rgba(242, 173, 43, 0.5);
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
}

.respuesta > input[type=text] {
    flex-grow: 1;
}

/* Paginas: Listado aleatorio de preguntas */

.pregunta {
    color: white;
    background-color: rgba(119, 17, 139, 0.3);
}

/* Paginas: Responder una pregutna para si mismo y en nobmre de un amigo */

#formulario {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#formulario div {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

#formulario label {
    width: 25%;
    display: block;
    color: black;
    font-weight: bold;
    text-align: right;
    margin-right: 5px;
}

#formulario > div > input {
    flex-grow: 1;
}

#formulario > input {
    margin-left: 40%;
    margin-right: 45%;
}

/* Paginas: Pagina de perfil de usuario */

.separadorPerfil {
    font-size: 20px; 
    font-weight: bold;   
    margin: 20px; 
    margin-left: 40px;
   
}

/* Paginas: Vista Pregunta */

.acertada {
    margin-top: 35px;
    font-weight: bold;
    font-size: 20px;
    color: green;
}

.fallida {
    margin-top: 35px;
    font-weight: bold;
    font-size: 20px;
    color: red;
}

/* Mensajes Flash */

.flash {
    color: white;
    font-weight: bold;
}

/* Pagina: Mensajes */

.formularioMensajes{
    display: flex;
    align-items: center;
    justify-content: center;
}
 /*para los inputs dentro de un form*/
.formularioMensajes>input{
    width: 70px;
    border-color: black;
    text-align: center;
    font-size: 18px;
    border-radius: 10%;  
}
.formularioMensajes>input:hover{
    width: 75px;
    border-color: white;
 
}

.datosMensaje{
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    color: rgb(90, 87, 87); 
    font-size: 20px;
}

#contenidoMensaje{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#contenidoMensaje img{
    width: 100px;
    height: 100px;
}

.cuerpoMensaje{
    word-wrap: break-word;
    width: 70%;
    align-self: center;
    margin-left: 20px;
    font-family: "Lucida Console";
}

#btn_options_mensajes{
    display: flex;
    justify-content: flex-end;
}

#btn_options_mensajes>form> input{
    color: white;
    background-color: rgba(237, 96, 211, 0.5);
    border-color: black;
    text-align: center;
    font-size: 18px;
    border-radius: 10%;
    margin-left: 10px;
}


textarea {
    resize: none;
}

#contador { 
    color: darkslategray; 
    font-size: 20px;
    align-self: flex-end;
}

#medium_img{
    height:65px;
    width: 65px;
}

#small_img{
    height:50px;
    width: 50px;
}
/****************************************************************************************/